<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-- Header section -->
    <h1>All Albums</h1>

<!-- Albums section -->
    {{#if albums}}
    <ul>
        {{#each albums}}
        <li>
            <h2>{{this.name}}</h2>
            <img src="{{this.cover}}" alt="{{this.name}}">
            <a href="/tracks/{{this.artistId}}">View Tracks</a>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No albums found.</p>
    {{/if}}
</body>
</html>