<!-- Header section -->
    <h1>All Albums</h1>

{{#if albums.length}}
    <ul class="artist-section">
        {{#each albums}}
        <li class="artist">
                <h2>{{this.name}}</h2>
            {{#if this.images.length}}
                <img class="img-size" src="{{this.images.[0].url}}" alt="{{this.name}}">
            {{else}}
                <p>No image available.</p>
            {{/if}}
            <a href="/tracks/{{this.id}}" class="buttons">View Tracks</a>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No albums found.</p>
{{/if}}