<h1>Search Results</h1>
<div class="artist-section">
    <div>
  <!-- Results section -->
  {{#if artist.length}}
    <ul class="artist-section">
      {{#each artist}}
        <li class="artist">
          <h2>{{this.name}}</h2>
          <img class="img-size" src="{{this.images.[0].url}}" alt="{{this.name}}">
          <a href="/albums/{{this.id}}" class="buttons">View Albums</a>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>No results found.</p>
  {{/if}}
    </div>
</div>


